<div class="education-item card">
  <div class="row">
    <div class="col"><h4>Titre</h4><input class="edu-title" name="title" /></div>
    <div class="col"><h4>Institution</h4><input class="edu-institution" name="institution" /></div>
    <div style="max-width:140px"><h4>Année</h4><input class="edu-year" name="year" /></div>
    <div style="align-self:center"><button type="button" class="remove-education ghost">Supprimer</button></div>
  </div>
  <div style="margin-top:8px">
    <label>Certification</label>
    <select class="edu-certification" name="certification">
      <option value="">non</option>
      <option value="yes">oui</option>
    </select>
  </div>
</div>
