<div class="experience-item card">
  <div class="row">
    <div class="col">
      <h4>Poste</h4>
      <input class="exp-position" name="position" />
    </div>
    <div class="col">
      <h4>Organisation</h4>
      <input class="exp-organisation" name="organisation" />
    </div>
    <div class="col">
      <h4>Secteur</h4>
      <input class="exp-sector" name="sector" />
    </div>
  </div>
  <div class="row" style="margin-top:8px">
    <div class="col">
      <h4>Début (YYYY-MM)</h4>
        <input class="exp-start date-month" pattern="\d{4}(-\d{2})?" title="Format attendu: YYYY or YYYY-MM" name="start" />
    </div>
    <div class="col">
      <h4>Fin (YYYY-MM ou vide)</h4>
        <input class="exp-end date-month" pattern="\d{4}(-\d{2})?" title="Format attendu: YYYY ou YYYY-MM" name="end" />
    </div>
    <div style="align-self:center">
      <button type="button" class="remove-experience ghost">Supprimer</button>
    </div>
  </div>
  <div style="margin-top:8px">
    <h4>Description</h4>
    <textarea class="exp-description" rows="3" name="description"></textarea>
  </div>
</div>
