<section id="section-preferences">
  <h3>Préférences</h3>
  <div>
    <div class="row">
      <div class="col"><h4>Disponibilité</h4><input class="pref-availability" name="availability" value="{{ payload_obj.get('preferences', {}).get('availability','') if payload_obj else '' }}" /></div>
      <div class="col"><h4>Contrats (séparés par ,)</h4><input class="pref-contracts" name="contracts" value="{{ payload_obj.get('preferences', {}).get('contracts')|join(', ') if payload_obj and payload_obj.get('preferences', {}).get('contracts') else '' }}" /></div>
      <div class="col"><h4>Remote</h4>
        {% set r = payload_obj.get('preferences', {}).get('remote') if payload_obj else None %}
        <select class="pref-remote" name="remote"><option value="no" {{ 'selected' if r=='no' else '' }}>no</option><option value="partial" {{ 'selected' if r=='partial' else '' }}>partial</option><option value="full" {{ 'selected' if r=='full' else '' }}>full</option></select>
      </div>
    </div>
    <div style="margin-top:8px">
      <h4>Salaire min</h4>
      <input class="pref-salary" name="salary_min" value="{{ payload_obj.get('preferences', {}).get('salary_min','') if payload_obj else '' }}" />
    </div>
  </div>
</section>
