<div class="collapsible-item reference-item card">
  <div class="item-header" tabindex="0" role="button" aria-expanded="true">
    <div class="item-summary">
      <span class="item-title">Nouvelle référence</span>
      <span class="item-meta muted"></span>
    </div>
    <div class="item-controls">
      <button type="button" class="icon-button remove-reference" aria-label="Supprimer" title="Supprimer">✕</button>
      <i class="chevron" aria-hidden="true">›</i>
    </div>
  </div>
  <div class="item-body">
    <div class="row">
      <div class="col"><label>Nom</label><input class="ref-name" name="name" autocomplete="name" /></div>
      <div class="col"><label>Poste</label><input class="ref-position" name="position" autocomplete="organization-title" /></div>
      <div class="col"><label>Organisation</label><input class="ref-org" name="organisation" autocomplete="organization" /></div>
    </div>
  </div>
</div>
