<div class="reference-item card">
  <div class="row">
    <div class="col"><h4>Nom</h4><input class="ref-name" name="name" autocomplete="name" /></div>
    <div class="col"><h4>Poste</h4><input class="ref-position" name="position" autocomplete="organization-title" /></div>
    <div class="col"><h4>Organisation</h4><input class="ref-org" name="organisation" autocomplete="organization" /></div>
    <div style="align-self:center"><button type="button" class="remove-reference ghost">Supprimer</button></div>
  </div>
</div>
