<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>HRX Mini-site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/hrx.js" defer></script>
  </head>
  <body>
    <header>
      <h1>HRX — Mini éditeur</h1>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
